/*--------------FONTS----------------*/
*{
    font-family: "Concert One";
}

/*--------------STYLE---------------*/

#cardsContainer{
    background-color: yellow;
    padding: 100px;
}

.container{
    background-color: red;
}

#addBookButton{
    background-color: red;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}